body {
	width:80%;
	margin: 0 auto;
	font-family: Helvetica, sans-serif;
}

img {
	
	vertical-align:middle;
}

footer {
	margin-top: 30px;
}

table {
	border-collapse: collapse;
}

td {
	width: 200px;
}

th {
	text-align: left;
}

table.users tr:nth-child(odd) td {
	border-top:1px solid black;
}

table.users tr:nth-child(even) td {
	border-bottom:1px solid black;
}